.header {
  width: 100%;
  background: linear-gradient(90deg, #fbd40f, #fbd40f);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 50px;
}
.navbar{
    display: flex;
    gap: 500px;
}
.imagebar{
    display: flex;
}
.navimage{
    height:40px;
    width:40px;
}
nav ul{
    list-style:none;
    display: flex;
    gap:20px;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    font-size: large;
    font-weight: bold;
    
   
    
}
nav ul li{
     background-color: #fed816;
     border-radius:8px;
     background-size: auto;
     background-position: center;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 2px;
     box-shadow: 2px 1px 4px 4px white;
}
nav{
    width:100%;
}

h1{
    text-align: center;
}
p{
    text-align:center;
}
.container{
    width:1320px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 1px solid red;
}
.blogItems{
    text-align: center;
    flex-basis:23%;
    padding-bottom:10px;
    box-shadow:0px 0px 10px 2px #ccc;
    margin:1%;
}

